
.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

#header-up{
    margin-top: 50px;
}

#header-up .menu{
    height: 20px;
    display: flex;
    align-items: center;
}

#header-up .logo ul li a{
    color: black;
    margin-left: 50px;
}

#header-up .menu ul{
    list-style: none;
    display: flex;

}
#header-up .menu ul li{
    margin-left: 50px;
}

#header-up .menu ul li a{
    color: black;
    
}

.image{
    margin-left: 35rem;
    margin-top: -34px;
}

.icon{
    display: flex;
    justify-content: flex-end;
    margin-right: -55rem;
    margin-top: -25px;
}

.icon i{
    cursor: pointer;
    font-size: 25px;
    margin-right: 25px;
}

.slider{
    width: 100%;
    position: relative;
}

.slider-area{
    width: 1920px !important;
}

 .slider img{
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.slider i{
    position: absolute;
    color: white;
    font-size: 50px;
}

.slider .icons{
    width: 100%;
    position: absolute;
    top: 150px;
}

.slider .icons i:nth-child(1){
    margin-top: 6rem;
    left: 10px;
    cursor: pointer;
    
}

.slider .icons i:nth-child(2){
    margin-top: 6rem;
    right: 10px;
    cursor: pointer;
   
}

.active-slider{
    opacity: 1 !important;
}

/* border-right: 1px solid #435788; */

.slider .images text{
    position: absolute;
}
.slider .text a{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 26rem;
    color: #e38ea5;
    font-size: 34px;
    text-decoration: none;
    line-height: 19rem;
}

.slider .text a:nth-child(2){
    margin-top: -14rem;
    font-size: 74px;
    margin-right: 9rem;
    color: black;
}

.slider .text a:nth-child(3){
    color: #888888;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-right: 3rem;
    margin-left: 44rem;
    margin-top: -3rem;
}

.slider-area .images2{
    position: relative;
}